/* blank */
/***********************************************/
.features {
  $self: &;
  
  display: flex;  
  font-weight: 400;
 
  &__list {
    list-style: none;
    width: 100%;
    max-width: 380px;
    padding: em(35 20);
    margin: 0 auto;

    @include res(sm) {
      max-width: 575px;
    }

    @include res(md) {
      max-width: 768px;
    }

    @include res(lg) {
      max-width: 810px;
    }

    @include res(xl) {
      max-width: 1200px;
    }
  }

  &__item {
    margin-bottom: 47px;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    &--c1 {
      color: $color_pink;

      #{$self}__icon {
        fill: $color_pink;
        stroke: $color_pink;
      }
    }

    &--c2 {
      color: $color_green;

      #{$self}__icon {
        fill: $color_green;
        stroke: $color_green;
      }
    }

    &--c3 {
    color: $color_blue;

      #{$self}__icon {
        fill: $color_blue;
        stroke: $color_blue;
      }
    }

    &--c4 {
      color: $color_yellow;

      #{$self}__icon {
        fill: $color_yellow;
        stroke: $color_yellow;
      }
    }

    &--c5 {
      color: $color_darken;

      #{$self}__icon {
        fill: $color_darken;
        stroke: $color_darken;
      }
    }

    @include res(sm) {
      display: flex;
      align-items: center;
      margin-bottom: 0;

      &--c1,
      &--c2,
      &--c3,
      &--c4,
      &--c5 {
        #{$self}__icon {
          fill: #ffffff;
          stroke: #ffffff;
        }
      }

      &--c1 {
        #{$self}__icon-wrapper {
          background-color: $color_pink;
        }
      }

      &--c2 {
        #{$self}__icon-wrapper {
          background-color: $color_green;
        }
      }

      &--c3 {
        #{$self}__icon-wrapper {
          background-color: $color_blue;
        }
      }

      &--c4 {
        #{$self}__icon-wrapper {
          background-color: $color_yellow;
        }
      }

      &--c5 {
        #{$self}__icon-wrapper {
          background-color: $color_darken;
        }
      }
    }

    @include res(lg) {
      &:nth-child(even) {
        margin-left: 157px;
      }
    }

    @include res(xl) {
      width: calc(50% + 157px);
      margin: 0 0 0 auto;

      &:nth-child(even) {
        flex-direction: row-reverse;
        margin: 0 auto 0 0;
        
        #{$self}__text-wrapper {
          text-align: right;
          padding: 0;
        }

        #{$self}__icon-wrapper {
          margin-left: 65px;
          margin-right: 0;
        }
      }
    }
  }

  &__icon-wrapper {
    margin-bottom: 17px;
    background-repeat: no-repeat;
    background-size: 87px auto;
    background-position: 50% 50%;

    @include res(sm) {
      padding: em(26 28 30 29);
      margin-right: 56px;
      margin-bottom: 0;
      flex-shrink: 0;
    }

    @include res(md) {
      margin-right: 80px;
    }
  }

  &__icon {
    display: block;
    width: 87px;
    height: 87px;
    margin-left: auto;
    margin-right: auto;
    
    @include res(sm) {
      width: 100px;
      height: 100px;
    }
  }

  &__heading {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    margin: 0 0 8px;
  }
  
  &__text-wrapper {
    @include res(sm) {
      text-align: left;
    }
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: em(26, 18);
    font-weight: 400;
  }
}
